{% if value is null %}
    <span class="text-muted">—</span>
{% elseif value is iterable %}
    {{ value|join(', ') }}
{% elseif value.value is defined and value.id is not defined %}
    {# BackedEnum #}
    {{ value.value }}
{% elseif value.name is defined and value.value is not defined and value.id is not defined %}
    {# UnitEnum #}
    {{ value.name }}
{% elseif value is not same as(false) and value is not same as(true) %}
    {{ value }}
{% else %}
    {{ value ? 'Yes' : 'No' }}
{% endif %}
